name: Deploy Terraform with Dual Approvals

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:  # Permite ejecutar el workflow manualmente

permissions:
  contents: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Cache Node Modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::891377079132:role/access-github-actions
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: terraform plan -no-color -out=tfplan

      # Primera aprobación manual al iniciar el workflow
      - name: Initial Approval
        if: success()
        environment:
          name: development  # Environment para la primera aprobación manual
          url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      # Segunda aprobación manual antes de `apply`
      - name: Approval before Apply
        if: success()
        environment:
          name: development  # Environment para la segunda aprobación manual
          url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      # Terraform Apply solo se ejecuta tras la segunda aprobación manual
      - name: Terraform Apply
        if: success()
        run: terraform apply -auto-approve tfplan

      - name: Completion Notice
        run: echo 'Deployment completed successfully.'
